{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% load static %}
{% block title %} Пост {{ post.text|truncatechars:30 }} {% endblock title %}
{% block content %}
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Publications Date: {{ post.created_at|date:"d M Y" }}
          </li>
          <li class="list-group-item">
            Fund:
            <br>
            <a href="{% url 'main:fund_profile' fund_id=post.fund.id %}" style="color: #fd7e14;">fund page</a>
          </li>
          <li class="list-group-item">
            Author: {{ post.fund.username }}
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <h3 class="card-title">{{ post.title }}</h3>
        <p class="card-text">{{ post.description }}</p>
      </article>
      <div class="card my-4">
        {% include 'main/comments_fund.html' %}
      </div>
    </div>
{% endblock %}
