{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Fund Profile {{ fund_profile.name }}
{% endblock %}
{% block content %}
<section id="team" class="team text-center">
    <div class="row">
            <div class="member title animate__animated animate__fadeInUp">
                <img src="{% thumbnail fund_profile.avatar "400x400" crop="center" %}">
                    <h1>{{ fund_profile.name }}</h1>
                    <hr></hr>
                    <h1>Raised: {{ raised }}</h1>
            </div>
    </div>
    <div class="mb-5">
        <h2>Description</h2>
        <p>{{ fund_profile.description }}</p>
        <h3>All posts: {{ page_obj.paginator.count }} </h3>
    </div>
    {% for post in page_obj %}
        {% include 'includes/article_campaign.html' %}
        <a href="{% url 'main:fundraising_campaign' fund_id=post.fund.id pk=post.id %}" style="color: #fd7e14;">details</a>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'main/includes/paginator.html' %}
</section>
{% endblock %}