{% load thumbnail %}
{% load user_filters %}
<article>
  <ul style="list-style: none;">
    <h3 class="card-title">{{ post.title }}</h3>
    <p class="card-text">{{ post.description }}</p>
    <li>
    Author: {{ post.user.username }}
    </li>
    <li>
    Publication Date: {{ post.created_at|date:"d M Y" }}
    </li>
    {% if post.location %}
    <li>
      Location: {{ post.location }}
    </li>
    <li>
      Date: {{ post.date }}
      </li>
    {% endif %}
  </ul>
  {% if show_link and post.show_link %}
  <a href="{{ post.link_url }}" style="color: #fd7e14;">details</a>
  {% endif %}
</article>