{% load static %}
{% block header %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main:index' %}">
        <img src="{% static 'img/logo.webp' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Charity</span>App
      </a>
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        <li class="nav-item"> 
          <a class="nav-link link-light
          {% if view_name  == 'main:fundraising_campaign_list' %}
              active
            {% endif %}" 
            href="{% url 'main:fundraising_campaign_list' %}">
            Кампании по сбору средств
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light
          {% if view_name  == 'main:nonprofit_event_list' %}
              active
            {% endif %}" 
            href="{% url 'main:nonprofit_event_list' %}">
            Некомерческие мероприятия
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light
          {% if view_name  == 'main:volunteer_vacancy_list' %}
              active
            {% endif %}" 
            href="{% url 'main:volunteer_vacancy_list' %}">
            Ваканси волонтеров
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link link-dark
          {% if view_name  == 'users:logout' %}
              active
            {% endif %}" 
            href="{% url 'users:logout' %}">
            Выйти
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark
          {% if view_name  == 'main:user_profile_me' %}
              active
            {% endif %}" 
            href="{% url 'main:user_profile_me' %}">
          Пользователь: {{ user.username }}
          </a>
        </li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light
          {% if view_name  == 'users:login' %}
              active
            {% endif %}"
            href="{% url 'users:login' %}">
            Войти
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light
          {% if view_name  == 'users:signup' %}
              active
            {% endif %}" 
            href="{% url 'users:signup' %}">
            Регистрация
          </a>
        </li>
        {% endif %}
      </ul>
      {% endwith %} 
    </div>
  </nav>      
</header> 
{% endblock header%}