{% load static %}
{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center title animate__animated animate__fadeInDown" style="background-color: #00173b;">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="{% url 'main:index' %}" style="color: #fd7e14;">Heartfelt</a></h1>

      <nav id="navbar" class="navbar">
        <ul class="nav nav-pills">
        {% with request.resolver_match.view_name as view_name %}
        {% if view_name  == 'main:index' %}
          <li><a class="nav-link link-light scrollto" href="#services">Services</a></li>
          <li><a class="nav-link link-light scrollto" href="#team">Team</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
          {% if not request.user.is_fund %}
          <li><a class="active" href="{% url 'main:balance' user_id=user.id %}" style="color: #fd7e14;">Balance</a></li>
          <li><li><a class="active" href="{% url 'main:donate' %}" style="color: #fd7e14;">Donate</a></li>
          {% endif %}
          <li><a class="active" href="{% url 'main:list_funds' %}" style="color: #fd7e14;">Funds</a></li>
          <li class="dropdown"><a href="#" class="link-light" ><span style="color: #fd7e14;">Create Post</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% if request.user.is_fund %}
                  <li> 
                    <a class="
                    {% if view_name  == 'main/create_fundraising_campaign' %}
                        active
                      {% endif %}" 
                      href="{% url 'main:create_fundraising_campaign' %}" style="color: #fd7e14;">
                      Fundraising Campaign
                    </a>
                  </li>
                  {% endif %}
                  <li> 
                    <a class="
                    {% if view_name  == 'main/create_nonprofit_event' %}
                        active
                      {% endif %}" 
                      href="{% url 'main:create_nonprofit_event' %}" style="color: #fd7e14;">
                      Nonprofit Event
                    </a>
                  </li>
                  <li> 
                    <a class="
                    {% if view_name  == 'main/create_volunteer_vacancy' %}
                        active
                      {% endif %}" 
                      href="{% url 'main:create_volunteer_vacancy' %}" style="color: #fd7e14;">
                      Volunteer Vacancy
                    </a>
                  </li>
            </ul>
          </li>
          {% endif %}
          <li class="dropdown"><a href="#" class="link-light" ><span style="color: #fd7e14;">Posts</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                  <li> 
                    <a class="
                    {% if view_name  == 'main:fundraising_campaign_list' %}
                        active
                      {% endif %}" 
                      href="{% url 'main:fundraising_campaign_list' %}" style="color: #fd7e14;">
                      Fundraising Campaigns
                    </a>
                  </li>
                  <li> 
                    <a class="
                    {% if view_name  == 'main:nonprofit_event_list' %}
                        active
                      {% endif %}" 
                      href="{% url 'main:nonprofit_event_list' %}" style="color: #fd7e14;">
                      Nonprofit Events
                    </a>
                  </li>
                  <li> 
                    <a class="
                    {% if view_name  == 'main:volunteer_vacancy_list' %}
                        active
                      {% endif %}" 
                      href="{% url 'main:volunteer_vacancy_list' %}" style="color: #fd7e14;">
                      Volunteer Vacancies
                    </a>
                  </li>
            </ul>
          </li>
          {% if request.user.is_authenticated %}
          <li> 
            <a class="link-light
            {% if view_name  == 'users:logout' %}
                active
            {% endif %}" 
            href="{% url 'users:logout' %}">
              Logout
            </a>
          </li>
          <li> 
            <a class="link-light
            {% if view_name  == 'main:user_profile_me' %}
              active
            {% endif %}" 
            href="{% url 'main:user_profile_me' %}">
            {{ user.username }}
            </a>
          </li>
          {% else %}
          <li> 
            <a class="link-light
            {% if view_name  == 'users:login' %}
              active
            {% endif %}"
            href="{% url 'users:login' %}">
            Login
            </a>
          </li>
          <li> 
            <a class=" link-light
            {% if view_name  == 'users:signup' %}
              active
            {% endif %}" 
            href="{% url 'users:signup' %}">
            Sign Up
            </a>
          </li>
          {% endif %}
          {% endwith %} 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
{% endblock header%}